* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    background-color: #f8fafc;
}

.container {
    max-width: 700px;
    margin: 60px auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 16px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
}

.info-group {
    margin-bottom: 20px;
}

.info-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

.info-group input {
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    color: #333;
}

.btn-group {
    text-align: center;
    margin-top: 30px;
}

.btn-group button {
    padding: 12px 24px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-edit {
    background-color: rgb(102, 237, 255);
    color: #2575fc;
    border: 2px solid #fff;
}

.btn-save {
    background-color: #ffcc00;
    color: #333;
}

.btn-edit:hover,
.btn-save:hover {
    opacity: 0.9;
}

.back-button {
    position: absolute;
    background-color: aqua;
    top: 20px;
    left: 20px;
    width: 110px;
    height: 40px;
    border-radius: 8px;
}

.back-button a div{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #ffffff;
    color: #2575fc;
    text-align: center;
    line-height: 40px;
}

.back-button a{
    text-decoration: none;
    color: inherit;
}

.back-button a div:hover {
    opacity: 0.9;
}
