.chat-container {
    position: fixed;
    bottom: 380px;
    right: 20px;
    width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    border-radius: 8px;
    overflow: hidden;
    display: none;
}

.chat-header {
    background: #007bff;
    color: #fff;
    padding: 10px;
}

.chat-body {
    display: flex;
    flex-direction: column;
    height: 300px;
    
}

.chat-messages {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(255, 255, 255,0);
}

.chat-messages-container {
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: rgb(120, 203, 255);
}

.chat-input {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    gap: 10px;
}

.chat-input input {
    border-radius: 10px;
    padding: 5px;
}

.chat-input button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.user-message{
    align-self: flex-end;
    word-wrap: break-word;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(156, 0, 148);
    color: white;
    max-width: 50%;
}

.admin-message{
    align-self: flex-start;
    word-wrap: break-word;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(73, 73, 73);
    color: white;
    max-width: 50%;
}
